
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px;
  cursor: pointer;
}

.Button:hover {
  background-color: #000;
  color: white;
}

.Button:hover * {
  color: white;
}

.Button.selected {
  box-shadow: 2px 2px 7px 2px #0003;
  transform: scale(1.2);
}
